body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
  
}


/* - - - header-top-bar - - - */

/* .top-row {
  display: flex;
  align-items: center;
} */
.row{
  display: flex;
  align-items: center;
  padding:0%;
  margin-left: 20px;
}
.search-row{
  display: flex;
  justify-content: flex-end;
  padding:0%;
  margin-left: 50px;
  margin-top: 200px;
}

.navbar {
  border: 0 none;
  border-radius: 0;
  margin-bottom: 0;
  padding-left: 60px;
  position: relative;
  z-index: 999;
  background-color: rgb(245, 244, 244) !important;
}
.link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}
.nav-link {
  margin: 0 1rem;
  color:rgb(17, 17, 17)
}
.logo {
  padding: 0 0;
  transition: all 0.3s ease 0s;
}
.logo img{
  transition: all 0.3s ease 0s;
}
.btn {
  background-color:rgb(57, 194, 221);
  border: 0 none;
  color: black;
}
Button {
  background-color: aqua;
}
.videoTitle {
  font-size: 1rem;
  font-weight: 700;
  margin: 10px;
  padding: 0;
  color: black;
  text-align: left;
}
.videoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.saveButton {
  background-color: rgb(72, 73, 73);
  border: 0 none;
  color: white;
  margin-top: 40px;
  
}
.saveButton:hover {
  background-color: rgb(155, 159, 160);
  border: 0 none;
  color: white;
  margin-top: 40px;
}
.addNoteButton {
  background-color: rgb(72, 73, 73);
  border: 0 none;
  color: white;
  margin-top: 40px;
  margin-left: 10px;
}


@media screen {
  
}


